{% extends 'base.html.twig' %}

{% block title %}DeepConfig index{% endblock %}

{% block body %}
    <h1>DeepConfig index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Param</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deep_config in deep_configs %}
            <tr>
                <td>{{ deep_config.id }}</td>
                <td>{{ deep_config.param }}</td>
                <td>{{ deep_config.value }}</td>
                <td>
                    <a href="{{ path('deep_config_show', {'id': deep_config.id}) }}">show</a>
                    <a href="{{ path('deep_config_edit', {'id': deep_config.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('deep_config_new') }}">Create new</a>
{% endblock %}
